@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Poor+Story&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Poor Story', cursive, 'Noto Sans KR', sans-serif;
}

body {
  margin: 0;
  background: #4e54c8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8f94fb,
    #4e54c8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8f94fb, #4e54c8);
}

.loading {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .loading img {
    max-width: 100%;
  }
}
